

<body>
<div class='container'>
  <div class="row">
    <div class='sidebar col-lg-2'>
      <h1> About Us Goes Here</h1>

    </div>

    <div class="main col-lg-10">
      <h1> Recipes: </h1>
      <% @recipe.each do |recipe| %>
        <h3> <%= link_to recipe.name, recipe_path(recipe.id) %> </h3>
      <% end %>
      <%= link_to "create a new recipe", new_recipe_path %>
    </div>


  </div>
</div>


</body>
